body {
    background-image: url(https://sterlingboardingpass.com/AlternativeOnlineAccount/img/retros/sterling_retro_bg_4Copy.jpg);
}

.nav {
    padding: 10px 40px 10px 40px;
    background-color: #f8f9fa;
}

#floatright {
    margin-left: 60%;
    float: right;
    margin-top: 60px;
}

#floatleft {
    float: left;
}

a {
    margin-left: 40px
}

h2 {
    margin: 20px 40px;
    font-style: italic;
    font-size: 2rem;
    color: tomato;
}

.middle {
    padding: 40px 40px 40px 40px;
    margin: 20px auto;
}

.form-control {
    width: 30%;
    margin: 20px 0px;
    border-radius: 1.25rem
}

.account {
    margin: 10% 0px;
}

.btn-primary {
    color: black;
    background-color: white;
    border-color: black
}

.table-bordered {
    margin-top: 50px;
}

#right {
    float: right
}

.footer{
    margin-left: 55%;
    float: right;
    margin-right: 3%
}

.midd {
    margin-bottom: 130px;
    margin-left: 390px;
    max-width: 500px;
    margin-top: 60px;
}

.inside{ 
    padding: 0px 80px;
}

.login {
    margin: 10px 85px;
}

.acco {
    margin: 50px 85px;
}

.pass {
    display: flex;
    margin: 25px 0px;
    border: 1px solid #dc3545;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.192);
}

#curve {
    height: 50px;
    margin-left: 15px;
    border: none;
    background: none;
}

.login {
    margin: 10px 85px;
}

#right{ 
    float: right;
}

#left {
    float: left;
}

::placeholder {
    color: black;
}

#button {
    border-radius: 25px;
    background-color: rgba(255, 95, 34, 0.21);
    color: black;
}

#create {
    margin: 0px;
}

#tton{
    margin: 0px;
}

.modal-body{
    color: #202fec;
    font-size: x-large;
    font-style: italic;
    align-self: center
}