body {
    background-image: url(https://sterlingboardingpass.com/AlternativeOnlineAccount/img/retros/sterling_retro_bg_4Copy.jpg);
}

.nav {
    padding: 10px 40px 10px 40px;
    background-color: #f8f9fa;
}

#floatright {
    margin-left: 60%;
    float: right;
    margin-top: 60px;
   
}

#floatleft{
    float: left;
    
}

a{
    margin-left: 40px

}

h2{
    font-style: italic;
    font-size: 2rem;
    color: tomato;

}

.middle{
    padding: 40px 40px 40px 40px;
    margin: 20px auto;

}

.form-control{
    width: 30%;
    margin: 20px 0px;
    border-radius: 1.25rem
}

.account{
    margin: 10% 0px;
}

.btn-primary{
    color:black;
    background-color: white;
    border-color: black
}

.table-bordered {
    margin-top: 50px;
}

#right {
    float: right
}